<%= form_with(model: company_message, local: true) do |form| %>
  <% if company_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company_message.errors.count, "error") %> prohibited this company_message from being saved:</h2>

      <ul>
      <% company_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_field :message %>
  </div>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.text_field :company_id %>
  </div>

  <div class="field">
    <%= form.label :job_seeker_id %>
    <%= form.text_field :job_seeker_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
