<p id="notice"><%= notice %></p>

<h1>Work Histories</h1>

<table>
  <thead>
    <tr>
      <th>Profile</th>
      <th>Company name</th>
      <th>Join date</th>
      <th>Leave date</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_histories.each do |work_history| %>
      <tr>
        <td><%= work_history.profile %></td>
        <td><%= work_history.company_name %></td>
        <td><%= work_history.join_date %></td>
        <td><%= work_history.leave_date %></td>
        <td><%= work_history.status %></td>
        <td><%= link_to 'Show', work_history %></td>
        <td><%= link_to 'Edit', edit_work_history_path(work_history) %></td>
        <td><%= link_to 'Destroy', work_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work History', new_work_history_path %>
