<p id="notice"><%= notice %></p>

<p>
  <strong>Profile:</strong>
  <%= @work_history.profile %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @work_history.company_name %>
</p>

<p>
  <strong>Join date:</strong>
  <%= @work_history.join_date %>
</p>

<p>
  <strong>Leave date:</strong>
  <%= @work_history.leave_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @work_history.status %>
</p>

<%= link_to 'Edit', edit_work_history_path(@work_history) %> |
<%= link_to 'Back', work_histories_path %>
